# =========================
# Testing
# =========================
pytest==8.3.5

# =========================
# Linting
# =========================
ruff==0.11.8

# =========================
# Formatting
# =========================
black==25.1.0

# =========================
# YAML validation
# =========================
yamllint==1.37.1